main {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    color: wheat;
    padding: 30px;
    font-size: 30px;
    background: linear-gradient(to right, darkslateblue, cornflowerblue);
}

#Search-box {
    background-color: burlywood;
}

.five-day-forecast {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin: 10px;
}

.outlook {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

